.container {
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
  flex-direction: row;
}

.down {
  display: flex;
  flex-direction: row;
}

.box {
  width: 300px;
  height: 300px;
}

.pink {
  background-color: pink;
}

.skyblue {
  background-color: skyblue;
}

.orange {
  background-color: orange;
}

.lemon {
  background-color: lemonchiffon;
}

.move {
  /* 상대적(지금위치) */
  position: relative;
  /* 위에서 100px 떨어짐 */
  top: 100px;
  /* 왼쪽에서 100px 떨어짐 */
  left: 300px;
}

.move1 {
  position: relative;
  bottom: 300px;
  left: 300px;
}

.move2 {
  /* 절대적(크롬 브라우저 기준) */
  position: absolute;
  top: 10px;
  left: 10px;
}

body {
  height: 300vh;
}

.move3 {
  /* 고정적 */
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.test {
  position: relative;
  top: 100px;
  left: 100px;
}

.test1 {
  /* absolute (단, 자기 조상/부모가 position 없어야 됨) */
  /* 부모가 position 있으면 그걸로 절대 기준으로 바뀜 */
  position: absolute;
  top: 10px;
  left: 10px;
}
