.text {
  color: skyblue;
}

/* hover (마우스 올리면 아래꺼 적용됨) */
.text:hover {
  background-color: pink;
  font-size: 30px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* 변형 관련된 속성 */
  transform: rotate(45deg) scale(2);

  /* 변형이 일어날 때, 어떻게 적용시킬지 */
  transition: all 1s;
}

/* .box:hover {
  /* border-radius: 9999px;
  background-color: yellow;
  opacity: 0; */
