.container {
  display: flex;
  gap: 10px;
  width: 200px;
  height: 400px;
  padding: 10px;
}

.contents {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.image {
  width: 200px;
  height: 250px;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.tit {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.price {
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}
.discount {
  color: red;
  font-weight: bold;
}

.name {
  font-weight: bold;
  color: #8b8b8b;
}

.info {
  color: #b4b4b4;
}
