.category {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.linKBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.album {
  width: 90px;
  height: 90px;
}

.album > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.roundedAlbum {
  width: 90px;
  height: 90px;
}

.roundedAlbum > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}
