@font-face {
  font-family: "Cafe24Meongi-B-v1.0";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.card {
  width: 350px;
  height: 600px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );

  padding: 100px 50px 0px 50px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.album {
  width: 100px;
  height: 100px;
}

.album > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.name {
  font-family: "Cafe24Meongi-B-v1.0";
  font-size: 18px;
}

.motto {
  font-family: "Cafe24Meongi-B-v1.0";
}

.sns {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.button {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
}

.snsIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.snsIcon > i {
  font-size: 30px;
  color: white;
}
