.rubik-uniquifier > {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

* {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 400px;
  height: 700px;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  border-radius: 30px;
}

.image {
  width: 100px;
  height: 100px;
}

.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.tit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.name {
  font-size: 15px;
  font-weight: bold;
}

.subtit {
  font-size: 13px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bar {
  width: 300px;
  background-color: white;
  padding: 15px;

  text-align: center;
  font-weight: bold;
  border-radius: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  margin-top: 10px;
  font-size: 25px;

  color: gray;
}
