.subject {
  width: 100vw;
  background: #f9fafb;
}

.sub__conteredBox {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 200px 0px;
}

.sub__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sub__contents > span {
  font-weight: 700;
  font-size: 32px;
}
